@import "./reset.css";
@import "./utilities.css";

/*  */

:root {
  --color-bg: #f9fafb;
  --color-bg-offset: #e5e7eb;
  --color-bg-card: #ffffff;
  --color-bg-card-offset: #f2f2f2;
  --color-text: #000000;
  --color-text-secondary: #999;
  --color-brand: #0250bb;
  --color-border: #ccc;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--color-bg);
  font-size: 100%;
}

select {
  width: 100%;
  border: 1px solid var(--color-border);
  padding: 0.275rem 0.5rem;
  border-radius: 0.275rem;
  cursor: pointer;
}

/* SETTINGS */

.settings {
  position: fixed;
  top: 4rem;
  right: 4rem;
  width: 12rem;
}

/* BOOKMARK_FOLDER_SELECT */

main {
  text-align: center;
  margin-top: clamp(10rem, 39.06vw - 8.75rem, 22.5rem);
}

/* SHORTCUTS */

.shortcuts {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
}

/* 768px - 1024px - 1280px */

@media (min-width: 768px) {
  .shortcuts {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .shortcuts {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1280px) {
  .shortcuts {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* SHORTCUT-ITEM */

.shortcut {
  width: 8rem;
  padding: 1.25rem 1.25rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  position: relative;

  &:hover {
    background-color: var(--color-bg-offset);
  }
}

.shortcut a {
  color: var(--color-text);
  text-decoration: none;
}

.tile {
  background-color: var(--color-bg-card);
  width: 88px;
  height: 88px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut__cover-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.shortcut__cover-wrapper[data-fallback] {
  background-color: var(--color-text-secondary);
  border-radius: 0.5rem;

  & .shortcut__cover {
    display: none;
  }

  &::before {
    content: attr(data-fallback);
    color: var(--color-bg-card);
    font-size: 64px;
    font-weight: 800;
    text-transform: uppercase;
    transform: rotate(-10deg);
  }
}

.shortcut__cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  pointer-events: none;
}

.shortcut__title {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  user-select: none;
}

/* SHORTCUT_DROPDOWN */

.shortcut-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  visibility: hidden;
}

div:has(> .shortcut-dropdown__item) {
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  background-color: var(--color-bg-card);
  overflow: hidden;
}

.shortcut-dropdown__heading {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shortcut-dropdown__item {
  border: none;
  background-color: var(--color-bg-card);
  padding: 0.25rem 0.5rem;
  width: 10rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-bg-card-offset);
  }
}

.shortcut:has(.shortcut-dropdown__heading.open) {
  background-color: var(--color-bg-offset);
}

.shortcut:hover .shortcut-dropdown {
  visibility: visible;
}

.shortcut-dropdown:has(.shortcut-dropdown__heading.open) {
  visibility: visible;
}
